<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<style>
    h1, p {
        display: inline;
    }
</style>

<div id="app">
    <ul>
        <!-- o indice sempre deve ser o segundo elemento representado no v-for(elemento, aqui o indice) -->
        <li v-for="(cor, indice) in cores" :key="cor">{{ indice + 1}}) {{ cor }}</li>
    </ul>
    <button @click="cores.push('amarelo')">Adicionar</button>
    <hr>
    <template v-for="(cor, index) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ index }}</p>
    </template>
    <hr>
    <div v-for="(cor, index) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ index }}</p>
    </div>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <div>
                <p>Seu nome é {{ pessoa.nome }}</p>
                <p>e tem {{ pessoa.idade }} anos</p>
            </div>
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <!-- O v-for sempre segue essa mesma ordem de atribuicao dos elementos para um objeto -->
            <div v-for="(valor, atributo, index) in pessoa">
                {{ atributo }} = {{ valor }} ({{ index + 1 }})
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue ({
        el:'#app',
        data: {
            cores: ['vermelho', 'azul', 'preto', 'branco'],
            pessoas: [
                {nome: 'Toshio', idade: 25, peso: 65},
                {nome:'João', idade: 28, peso: 70},
            ]
        }
    })
</script>