* {
    padding: 0;
    margin: 0;
}

body {
    padding: 2vw;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    text-align: center;
}

section {
    margin: 20px;
    box-shadow: 1px 1px 2px 1px lightgray;
}

#game-screen {
    display: flex;
    justify-content: space-around;
    font-variant: small-caps;
    padding: 20px;
    border: 1px solid lightgray;
}

.name {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.life-border {
    border: 1px solid gray;
    width: 400px;
    height: 20px;
}

.life-bar {
    background-color: green;
    height: 100%;
    max-width: 100%;
}

.life-percentage {
    font-weight: bold;
}

#resultMessage {
    padding: 20px;
    font-size: 1.6em;
    font-weight: bold;
}

.lost {
    color: red;
}

.won {
    color: green;
}

.draw {
    color: gray;
}

#actions {
    padding: 20px
}

button {
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    border-style: none;
    margin-right: 20px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

#start-button {
    background-color: #4654A9;
    color: white;
}

#attack-button {
    color: white;
    background-color: rgba(255, 0, 0, 0.7);
}

#special-attack-button {
    background-color: #F19B3A;
}

#heal-button {
    background-color: rgb(79, 151, 56);
    color: white;
}

#give-up-button {
    background-color: #BBBABB;
}

#historics {
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
}

.historic {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

#monster-historic {
    background-color: #E37778;
}

#player-historic {
    background-color: #848DC7;
}